{% extends 'base.html' %}

{% block content %}
  <h2>Test Game</h2>
  users:  {{ users }}<br>
  quest_sizes:  {{ quest_sizes }}<br>
  current_quest:  {{ current_quest }}<br>

  <br><br><br>

  assasin:  {{ assasin }}<br>
  merlin:  {{ merlin }}<br>
  mordred:  {{ mordred }}<br>
  morgana:  {{ morgana }}<br>
  percival:  {{ percival }}<br>

  <br><br><br>

  loyal_1:  {{ loyal_1 }}<br>
  loyal_2:  {{ loyal_2 }}<br>
  loyal_3:  {{ loyal_3 }}<br>
  loyal_4:  {{ loyal_4 }}<br>

  <br><br><br>

  minion_1:  {{ minion_1 }}<br>
  minion_2:  {{ minion_2 }}<br>
  minion_3:  {{ minion_3 }}<br>
  minion_4:  {{ minion_4 }}<br>
{% endblock %}