{% extends 'base.html' %}

{% block content %}
  <h2>game</h2>

  <h3>current state</h3>

  quest 1: {{ quest_1 }}<br>
  quest 2: {{ quest_2 }}<br>
  quest 3: {{ quest_3 }}<br>
  quest 4: {{ quest_4 }}<br>
  quest 5: {{ quest_5 }}<br>

  <h3>metadata</h3>

  id: {{ pk }}<br>
  users:  {{ users }}<br>
  quest_sizes:  {{ quest_sizes }}<br>
  current_quest:  {{ current_quest }}<br>

  <br><br><br>

  assasin:  {{ assasin }}<br>
  merlin:  {{ merlin }}<br>
  mordred:  {{ mordred }}<br>
  morgana:  {{ morgana }}<br>
  percival:  {{ percival }}<br><br>
  loyals:  {{ loyal_servants }}<br><br>
  minions:  {{ minions_of_mordred }}<br>
{% endblock %}