{% extends 'base.html' %}

{% block content %}
<h2>Avalon game {{ pk }}</h2>

<div class="current-state">
  <div class="flexbox-horizontal">
    {% for quest in quests %}

    {% if quest.pk == current_quest.pk %}
    <div class="box blue-border">
      Quest {{ quest.pk }}<br>
      {{ quest.num_players }}<br>
      {% if quest.is_successful %}
      <span class="quest-icon-success glyphicon glyphicon-ok" aria-hidden="true"></span>
      {% else %}
      <span class="quest-icon-failure glyphicon glyphicon-remove" aria-hidden="true"></span>
      {% endif %}
    </div>
    {% else %}
    <div class="box white-border">
      Quest {{ quest.pk }}<br>
      {{ quest.num_players }}<br>
      {% if quest.is_successful %}
      <span class="quest-icon-success glyphicon glyphicon-ok" aria-hidden="true"></span>
      {% else %}
      <span class="quest-icon-failure glyphicon glyphicon-remove" aria-hidden="true"></span>
      {% endif %}
    </div>
    {% endif %}

    {% endfor %}
  </div>
  <hr style="height:1px;border:none;color:#333;background-color:#333;" />
  <div class="whoami">
    your role: <div class="float-right">{{ game_user.game_role }}</div><br>
    special knowledge:
    {% for gu in game_user.special_knowledge %}
    <div class="float-right">{{ gu.user.username }},</div>
    {% endfor %}
  </div>
  special roles:
  <div class="float-right">{% for gu in assasin %}assasin,{% endfor %}
  {% for gu in merlin %}merlin,{% endfor %}
  {% for gu in mordred %}mordred,{% endfor %}
  {% for gu in morgana %}morgana,{% endfor %}
  {% for gu in percival %}percival,{% endfor %}</div><br>

  users in order: <div class="float-right">{% for u in users %}{{ u.username }}, {% endfor %}</div><br>
  quest_master: <div class="float-right">{{ quest_master.user.username }}</div><br>

  quest_members:
  {% for m in current_quest.members %}
    <div class="float-right">{{ m.member.user.username }},</div>
  {% endfor %}
  <br>
  <hr style="height:1px;border:none;color:#333;background-color:#333;" />
  <div class="quest-metadata">
    <div>
      <div style="font-size:16px; padding-bottom:8px">Votes for quest</div>
      {% for username, vote in current_quest.votes_for_quest %}
        <div class="votes-for-quest">
          {{ username }}:<div class="float-right">{{ vote }}</div>
        </div>
      {% endfor %}
    </div>
    <div>
      num_players: <div class="float-right">{{ current_quest.num_players }}</div><br>
      quest is approved: <div class="float-right">{{ current_quest.is_approved }}</div><br>
      quest is successful: <div class="float-right">{{ current_quest.is_successful }}</div><br>
    </div>
  </div>
</div>
<hr style="height:1px;border:none;color:#333;background-color:#333;" />
<div id="game-actions">
  {% if quest_master.user.pk == game_user.user.pk %}
  <form action="/suggest/" method="POST">
    {% csrf_token %}
    <input type="text" name="game_pk" value={{ pk }} hidden />
    <label for="reset_quest_members">Who should go on this quest?</label>
    <br>
    <div class="flexbox">
      <div>
      {% for game_user in game_users %}
        <input
          type="checkbox"
          id={{ game_user.pk }}
          name="users"
          value={{ game_user.pk }}>
        <label for={{ game_user.pk }}>{{ game_user.user.username }}</label>
        <br>
      {% endfor %}
      </div>
      <div class="button-right">
        <button type="submit" class="btn btn-primary">Pick crew</button>
      </div>
    </div>
  </form><br>
  {% endif %}

  <form action="/vote/for_quest/" method="POST">
    {% csrf_token %}
    <div class="flexbox">
      <div>
        <input type="text" name="game_pk" value={{ pk }} hidden />
        <label for="pass">Yes</label>
        <input type="radio" id="yes" name="vote" value="yes" />
        <label for="fail">No</label>
        <input type="radio" id="no" name="vote" value="no" />
      </div>
      <div class="button-right">
        <button type="submit" class="btn btn-primary">Vote for quest</button>
      </div>
    </div>
  </form><br>

  {% if user_on_quest %}
  <form action="/vote/quest/" method="POST">
    {% csrf_token %}
    <input type="text" name="game_pk" value={{ pk }} hidden />
    <div class="flexbox">
      <div>
        <label for="pass">Pass</label>
        <input type="radio" id="pass" name="vote" value="pass" />
        <label for="fail">Fail</label>
        <input type="radio" id="fail" name="vote" value="fail" />
      </div>
      <div class="button-right">
        <button type="submit" class="btn btn-primary">Vote on quest</button>
      </div>
    </div>
  </form><br>
  {% endif %}

  {% if game_user.user.username == 'kevin' %}
  <div class="flexbox">
    <form action="/finalize_vote_for_quests/" method="POST">
      {% csrf_token %}
        <input type="text" name="game_pk" value={{ pk }} hidden />
      <button type="submit" class="btn btn-primary">Finalize votes for quest</button>
    </form><br>
    <form action="/quest/finalize/" method="POST">
      {% csrf_token %}
      <input type="text" name="game_pk" value={{ pk }} hidden />
      <button type="submit" class="btn btn-primary">Finalize quest</button>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
