{% extends 'base.html' %}

{% block content %}
<h2>Avalon game {{ pk }}</h2>

<div class="current-state">
  <div class="flexbox-horizontal">
    {% for quest in quests %}

    {% if quest.pk == current_quest.pk %}
    <div class="box blue-border">
      Quest {{ quest.pk }}<br>
      {{ quest.num_players }}<br>
      {% if quest.is_successful %}
      <span class="quest-icon-success glyphicon glyphicon-ok" aria-hidden="true"></span>
      {% else %}
      <span class="quest-icon-failure glyphicon glyphicon-remove" aria-hidden="true"></span>
      {% endif %}
    </div>
    {% else %}
    <div class="box white-border">
      Quest {{ quest.pk }}<br>
      {{ quest.num_players }}<br>
      {% if quest.is_successful %}
      <span class="quest-icon-success glyphicon glyphicon-ok" aria-hidden="true"></span>
      {% else %}
      <span class="quest-icon-failure glyphicon glyphicon-remove" aria-hidden="true"></span>
      {% endif %}
    </div>
    {% endif %}

    {% endfor %}
  </div>
  <hr style="height:1px;border:none;color:#333;background-color:#333;" />
  <div id="whoami">
    your role: <div class="float-right">{{ game_user.game_role }}</div><br>
    special knowledge:
    {% for gu in game_user.special_knowledge reversed %}
    <span class="user-list-object">{{ gu.user.username }}</span>
    {% endfor %}
  </div>
  special roles:
  <div class="float-right">
    {% for gu in morgana %}<span style="color:red" class="user-list-object">MORGANA</span>{% endfor %}
    {% for gu in mordred %}<span style="color:red" class="user-list-object">MORDRED</span>{% endfor %}
    {% for gu in assasin %}<span style="color:red" class="user-list-object">ASSASIN</span>{% endfor %}
    {% for gu in percival %}<span style="color:blue" class="user-list-object">PERCIVAL</span>{% endfor %}
    {% for gu in merlin %}<span style="color:blue" class="user-list-object">MERLIN</span>{% endfor %}
  </div><br>

  users in order:
  <div class="float-right">
    {% for u in users reversed %}
      <span class="user-list-object">
        {{ u.username }}
      </span>
    {% endfor %}
  </div>
  <br>
  <hr style="height:1px;border:none;color:#333;background-color:#333;" />
  <div class="quest-metadata">
    <div>
      Quest Master: <div class="float-right">{{ quest_master.user.username }}</div><br>
      Quest Members:<br>
      {% for m in current_quest.members %}
        <b>{{ m.member.user.username }}</b><br>
      {% endfor %}
    </div>
    <div>
      <div style="font-size:16px; padding-bottom:8px">Votes for quest</div>
      {% for username, vote in current_quest.votes_for_quest %}
        <div class="votes-for-quest">
          {{ username }}:
          <div class="float-right">
            {% if vote %}
            <span class="quest-icon-success glyphicon glyphicon-ok" aria-hidden="true"></span>
            {% else %}
            <span class="quest-icon-failure glyphicon glyphicon-remove" aria-hidden="true"></span>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<hr style="height:1px;border:none;color:#333;background-color:#333;" />
<div id="game-actions">
  {% if quest_master.user.pk == game_user.user.pk %}
  <form action="/suggest/" method="POST">
    {% csrf_token %}
    <input type="text" name="game_pk" value={{ pk }} hidden />
    <label for="reset_quest_members">Who should go on this quest?</label>
    <div class="float-right">
      {{ current_quest.num_players }} members
    </div>
    <br>
    <div class="flexbox">
      <div>
      {% for game_user in game_users %}
        <input
          type="checkbox"
          id={{ game_user.pk }}
          name="users"
          value={{ game_user.pk }}>
        <label for={{ game_user.pk }}>{{ game_user.user.username }}</label>
        <br>
      {% endfor %}
      </div>
      <div class="button-right">
        <button type="submit" class="btn btn-primary">Pick members</button>
      </div>
    </div>
  </form><br>
  {% endif %}

  <form action="/vote/for_quest/" method="POST">
    {% csrf_token %}
    <div class="flexbox">
      <div>
        <input type="text" name="game_pk" value={{ pk }} hidden />
        <label for="pass">Yes</label>
        <input type="radio" id="yes" name="vote" value="yes" />
        <label for="fail">No</label>
        <input type="radio" id="no" name="vote" value="no" />
      </div>
      <div class="button-right">
        <button type="submit" class="btn btn-primary">Vote for quest</button>
      </div>
    </div>
  </form><br>

  {% if user_on_quest %}
  <form action="/vote/quest/" method="POST">
    {% csrf_token %}
    <input type="text" name="game_pk" value={{ pk }} hidden />
    <div class="flexbox">
      <div>
        <label for="pass">Pass</label>
        <input type="radio" id="pass" name="vote" value="pass" />
        <label for="fail">Fail</label>
        <input type="radio" id="fail" name="vote" value="fail" />
      </div>
      <div class="button-right">
        <button type="submit" class="btn btn-primary">Vote on quest</button>
      </div>
    </div>
  </form><br>
  {% endif %}

  {% if game_user.user.pk == game_owner.pk %}
  <div class="flexbox">
    <form action="/finalize_vote_for_quests/" method="POST">
      {% csrf_token %}
        <input type="text" name="game_pk" value={{ pk }} hidden />
      <button type="submit" class="btn btn-primary">Finalize votes for quest</button>
    </form><br>
    <form action="/quest/finalize/" method="POST">
      {% csrf_token %}
      <input type="text" name="game_pk" value={{ pk }} hidden />
      <button type="submit" class="btn btn-primary">Finalize quest</button>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
