{% extends 'base_mobile.html' %}

{% block content %}

<h3>New Game</h3>
<br>

<form action="/game/new/" method="POST">
  {% csrf_token %}
  <label for="reset_quest_members">Who's playing?</label>
  <br>
  {% for user in all_users %}
    <input
      type="checkbox"
      id={{ user.pk }}
      name="users"
      value={{ user.pk }}>
    <label for={{ user.pk }}>{{ user.username }}</label>
    <br>
  {% endfor %}
  <br>
  <button type="submit" class="btn btn-primary">Start new game!</button>
</form><br>

{% endblock %}
