/*#page {
    display: inline-flex;
}

#game-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#quests-container {
    display: flex;
    flex-direction: column;
}

#quests-metadata {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.quest-metadata {
    padding: 8px;
}

.votes-for-quest {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/